<div class="top-container">
  <div class="title-container">
    <h1>Git Hub Search</h1>
  </div>
  <form>
    <input placeholder="Search by name..." ng-keydown="loadMore(true)" ng-keyup="shouldFilter = true"  ng-model="search" type="search">
  </form>
  <a class="stats-link" href="/#/charts">View Statistics</a>
</div>

<div class="feed-container" scroll>
  <div class="item-container animation" ng-repeat="(key, value) in items | filter: (shouldFilter ?  {full_name : search} : '')">
    <div class="image-container">
      <img src="{{value.owner.avatar_url}}" alt="">
    </div>
    <div class="info-container">
      <h2>
        <a class="title-link" ng-href="{{value.html_url}}" target="_blank">{{value.full_name}}</a>
      </h2>
      <p>Author: {{value.owner.login}}</p>
      <p>Created: {{ value.created_at | date:'d' | ordinal}} {{ value.created_at | date : "MMM yyyy 'at 'HH:mm" }}</p>
      <p>Score: {{value.score}}</p>
      <p>Forks: {{value.forks_count}}</p>
      <p>Stargazers: {{value.stargazers_count}}</p>
      <p>Open Issues: {{value.open_issues}}</p>

      <ul>
        <li><a class="issues-link" ng-click="$window.scrollTo(0, 0); getName(value.full_name)" ng-href="/#/post/#{{key}}">See Issues</a></li>
        <li><a class="charts-link" ng-click="$window.scrollTo(0, 0); getName(value.full_name)" ng-href="/#/charts">See Statistics</a></li>
      </ul>
    </div>
  </div>

</div>
